.recipes_page_whole {
    display: flex;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.recipes_page {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.recipes_page_content {
    flex-grow: 1;
    height: 100%;
}

.blur {
    filter: blur(15px);
}

.health_score_negative {
    color: #fe8480;
}

.health_score_neutral {
    color: #fedb80;
}

.health_score_positive {
    color: #81fe83;
}