@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.button {
    height: 90px;
    width: 240px;
    border-radius: 16px;
    border-style: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 40px;
    border-radius: 16px;
}

.button_inactive {
    background-color: #3F4365;
    color: #636B97;
}

.button_active {
    background-color: #EEAA74;
    color: #fff;
}

.button_inactive:hover {
    background-color: #636B97;
    color: #fff;
}